<%= form_tag @form_path, :id => "login-form", :class => "identity-form" do %>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :auth_key, "Email" %><br>
      <%= text_field_tag :auth_key %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= submit_tag "Login" %>
    </div>
  </div>
<% end %>
