<%= form_tag @form_path, :id => "registration-form", :class => "identity-form" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="columns large-<%= @options[:name_width]%>">
      <%= label_tag :name %>
      <%= text_field_tag :name, @identity.try(:name) %>
    </div>
    <div class="columns large-<%= @options[:email_width]%>">
      <%= label_tag :email %>
      <%= text_field_tag :email, @identity.try(:email) %>
    </div>
    <div class="columns large-<%= @options[:password_width]%>">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="columns large-<%= @options[:password_confirm_width]%>">
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
    </div>
    <div class="columns large-<%= @options[:submit_width]%>">
      <%= submit_tag "Register" %>
    </div>
  </div>
<% end %>
