<%= form_tag @form_path, :id => "registration-form", :class => "identity-form" do %>
  <% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% @identity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :name %><br>
      <%= text_field_tag :name, @identity.try(:name) %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :email %><br>
      <%= text_field_tag :email, @identity.try(:email) %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= label_tag :password_confirmation %><br>
      <%= password_field_tag :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="columns large-24">
      <%= submit_tag "Register" %>
    </div>
  </div>
<% end %>
