<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <p><%= link_to 'New User', new_identity_path %></p>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= IdentityPlugin::Identity.find(user.uid).email %></td>
    <td><%= user.roles.collect(&:name).join(', ') %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New User', new_identity_path %></p>
